<section class="double-product{% if section.settings.space-top %} double-product--no-space {% endif %} section">
    <div class="content-wrapper">
        {% if section.settings.headline != blank %}
            <h2 class="double-product__headline headline headline--padding">
                {{ section.settings.headline }}
            </h2>
        {% endif %}
        <div class="double-product__container">
            {% for block in section.blocks %}
                <article class="product">
                    {% if block.settings.product.featured_image != blank %}
                        {% render 'image', image: block.settings.product.featured_image, class: "product__image image image--contain", sizes: sizes, widths: "272, 327, 354, 377, 434, 655", alt: block.settings.product.featured_image.alt %}
                    {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                    {% endif %}
                    <a href="{{ block.settings.product.url }}" itemprop="name" class="product__name">{{ block.settings.product.title }}</a>
                    <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                        <span itemprop="price" class="product__price">{{ block.settings.product.price | money_with_currency }}</span>
                        <meta itemprop="priceCurrency" content="{{ shop.currency }}"/>
                    </div>
                </article>
            {% endfor %}
        </div>
        {% if section.settings.buttonLink != blank %}
            <a href="{{ section.settings.buttonLink }}" class="double-product__button button button--white">{{ section.settings.buttonLabel }}{% render 'icon-arrow' %}</a>
        {% endif %}
    </div>
    {% if section.settings.image != blank %}
        {% render 'image', image: section.settings.image, class: "double-product__image image", sizes: sizes, widths: "320, 375, 475, 768, 1024, 1440, 1920, 2560, 3200", alt: section.settings.image.alt %}
    {% endif %}
</section>

{% schema %}
{
  "name": "Doppelprodukt",
  "settings": [
    {
      "type": "checkbox",
      "id": "space-top",
      "label": "Kein Abstand nach oben",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hintergrundbild auswählen"
    },
    {
      "type": "text",
      "id": "headline",
      "default": "Das ist eine Überschrift",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "buttonLabel",
      "default": "Alle Produkte",
      "label": "Text - Button"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "URL - Button"
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "product",
      "name": "Produkt",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produkt auswählen"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Doppelprodukt",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
