<section class="hero">
    {% if section.settings.image != blank %}
        {% render 'image', image: section.settings.image, class: "hero__image image", sizes: sizes, widths: "320, 375, 425, 768, 1024, 1440", alt: section.settings.image.alt %}
    {% else %}
        {{ 'image' | placeholder_svg_tag }}
    {% endif %}
    <div class="hero__content content-wrapper">
        <h1 class="hero__headline headline">{{ section.settings.headline }} <span class="hero__highlight">{{ section.settings.highlight }}</span></h1>
        <a href="{{ section.settings.button_link }}" class="hero__button button" target="_blank">{{ section.settings.button_label }}</a>
    </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Bild auswählen"
    },
    {
      "type": "text",
      "id": "headline",
      "default": "Das ist eine Überschrift",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "highlight",
      "default": "MAJESTA",
      "label": "Highlight"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "URL - Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Text - Button"
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "settings": {}
    }
  ]
}
{% endschema %}
