<section class="product-row content-wrapper section">
    {% if section.settings.headline != blank %}
        <h2 class="product-row__headline headline headline--padding">
            {{ section.settings.headline }}
        </h2>
    {% endif %}
    {% if section.blocks != blank %}
        <div class="product-row__container">
            {% for block in section.blocks %}
                <article class="product{% if block.settings.large-product %} product--large {% endif %}">
                    {% if block.settings.product.featured_image != blank %}
                        {% render 'image', image: block.settings.product.featured_image, class: "product__image image image--contain", sizes: sizes, widths: "199, 272, 298, 327, 377, 384, 408, 576", alt: block.settings.product.featured_image.alt, loading: 'lazy' %}
                    {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                    {% endif %}
                    <a href="{{ block.settings.product.url }}" itemprop="name" class="product__name">{{ block.settings.product.title }}</a>
                    <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                        <span itemprop="price" class="product__price">{{ block.settings.product.price | money_with_currency }}</span>
                        <meta itemprop="priceCurrency" content="{{ shop.currency }}"/>
                    </div>
                </article>
            {% endfor %}
        </div>
    {% endif %}
    {% if section.settings.buttonLink != blank %}
        <a href="{{ section.settings.buttonLink }}" class="product-row__button button button--transparent">{{ section.settings.buttonLabel }}{% render 'icon-arrow' %}</a>
    {% endif %}
</section>

{% schema %}
{
  "name": "Produktreihe",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "default": "Das ist eine Überschrift",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "buttonLabel",
      "default": "Alle Produkte",
      "label": "Text - Button"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "URL - Button"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "product",
      "name": "Produkt",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produkt auswählen"
        },
        {
          "type": "checkbox",
          "id": "large-product",
          "default": false,
          "label": "Größeres Produkt"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Produktreihe",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
